:root {
    --color-1: rgba(254, 245, 237, 1);
    --color-2: rgba(211, 228, 205, 1);
    --color-3: rgba(173, 194, 169, 1);
    --color-4: rgba(153, 167, 153, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-1);
    color: black;
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#header{
    background-color: var(--color-2);
    color: black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.headerNav{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
} .headerNav:hover {
    text-decoration: underline;
} .headerNav:active {
    text-decoration: none;
}

#headerNavbar{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-left: auto;
    margin-right: 5rem;
}

#headerLogo{
    height: 90px;
}

#footer{
    background-color: var(--color-2);
    color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    padding: 0.2rem;
}

#footer-a{
    color: black;
    text-decoration: none;
} #footer a:hover {
    text-decoration: underline;
}

.footerColumn{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerP{
    margin: 0;
}

main {
    flex: 1;
}

#mainAccueil{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 0.5rem;
    gap: 2rem;
}

#mainChambres{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 0.5rem;
    gap: 2rem;
}

#mainContact{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 0.5rem;
    gap: 2rem;
    flex: 1;
}

.main-content {
    width: 75%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-contentChambres {
    width: 75%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.main-contentContact {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--color-2);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.mainChambres-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    border-radius: 20px;
}


.main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.main-logoContact {
    width: 50%;
    height:auto;
}

.mainChambres-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    font-weight: bold;
    width: 80%;
}

.button {
    width: fit-content;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: black;
    background-color: var(--color-3);
    border: none;
    border-radius: 20px;
    cursor: pointer;
} .button:hover {
    background-color: var(--color-4);
} .button:active {
    background-color: var(--color-3);
}

.div-p{
    width: 75%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.div-contentChambres{
    width: 75%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#div-main-imgChambres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-3);
    padding: 1rem;
    border-radius: 20px;
}

#div-img-chambres{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-chambres{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}

.img-jardin{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}

#img-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#ContactInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    width: 30%;
}

#ContactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
}

.contact-a{
    color: black;
    text-decoration: none;
} .contact-a:hover {
    text-decoration: underline;
} .contact-a:active {
    text-decoration: none;
}

#mapContainer{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map{
    width: 900px;
    height: 500px;
}

/* MEDIA QUERIES */

@media (max-width: 1800px) {
    .main-contentContact {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 1rem;
    }

    #ContactInfoContainer {
        width: 100%;
    }

    #mapContainer {
        width: 100%;
    }

    #map {
        width: 1200px;
    }

    .main-logoContact {
        width: 20%;
    }

    .button-contact {
        margin-bottom: 1rem;
    }
}

@media (max-width: 1200px) {
    .main-content {
        width: 90%;
    }

    .main-contentChambres {
        width: 90%;
    }

    #div-main-imgChambres {
        width: 100%;
    }

    #div-img-chambres {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .img-chambres {
        width: 100%;
        height: 100%;
    }

    .img-jardin {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    #headerNavbar {
        flex-direction: column;
        gap: 1rem;
    }

    .main-contentContact {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 1rem;
    }

    .main-content{
        width: 80%;
        height: auto;
    }

    .main-contentChambres {
        width: 90%;
    }

    .mainChambres-text {
        font-size: 0.9rem;
    }

    #div-main-imgChambres {
        width: 100%;
    }

    #div-img-chambres {
        /*flex-direction: column;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .img-chambres {
        width: 100%;
        height: 100%;
    }

    .img-jardin {
        width: 100%;
        height: 100%;
    }

    #ContactInfoContainer {
        width: 100%;
    }

    #mapContainer {
        width: 100%;
    }

    #footer {
        flex-direction: column;
        gap: 1rem;
        font-size: smaller;
    }

    .main-logoContact {
        width: 40%;
    }

    .button-contact {
        margin-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    .main-content {
        width: 100%;
        height: auto;
    }

    .main-contentChambres {
        width: 100%;
        height: 230px;
    }

    .mainChambres-text {
        font-size: 0.9rem;
        width: 90%;
    }

    .div-contentChambres {
        width: 90%;
    }

    #div-main-imgChambres {
        width: 100%;
    }

    #div-img-chambres {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .div-p {
        width: 90%;
    }

    .img-chambres {
        width: 100%;
        height: 100%;
    }

    .img-jardin {
        width: 100%;
        height: 100%;
    }

    #img-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}